# files and folders that should be ignored by GitHub
data/
notebooks/.ipynb_checkpoints/
MW11model/.ipynb_checkpoints/
SimulationFields/.ipynb_checkpoints/
HCDclustering/.ipynb_checkpoints/

.DS_Store
__pycache__
